@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@500&display=swap');

/* ---------------------CSS Reset--------------------- */
body, html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: auto;
    max-width: 1440px;
    padding: 0;
}


/* ---------------------Navigation--------------------- */
.nav-bar {
    background-color: black;
    font-size: 0.67rem;
    text-align: right;
}

.nav-list-of-links {
    list-style: none;
    margin: 0;
}

.nav-list-of-links li {
    display: inline;
    margin-right: 1rem;
}

.nav-list-of-links li a:visited, a {
    color: #ffffff;
    text-decoration: none;
}


/* ---------------------Hero Image Section--------------------- */

.hero-image-section {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.hero-image-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/Hero\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-text {
    color: white;
    position: relative;
    text-align: center;
}

.hero-text h1 {
    margin: 0;
}

.hero-text p {
    margin: 0;
}

/* ---------------------Text and Image Sections--------------------- */
.heading-with-text {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.text-and-image {
    display: flex;
}
.text-and-image img {
    flex-grow: 1;
}
.text-and-image .heading-with-text  {
    flex-grow: 1;
    padding: 0 1rem;
}
.reversed {
    flex-direction: row-reverse;
}

.menu-section {
    margin-left: 2rem;
    text-align: center;
}

.menu-section ul {
    list-style: none;
    text-indent:  -0.5rem;
}

/* ---------------------Footer--------------------- */

footer {
    background-color: black;
    color: white;
    font-size: 0.67rem;
    text-align: center;
}

/* ---------------------Font--------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kreon', serif;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
    line-height: 1em;
    text-indent: 1rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}